# Travis CI build file for HeliumLogger 
# See the following URLs for further details on Travis CI
# https://docs.travis-ci.com/user/customizing-the-build/
# https://docs.travis-ci.com/user/docker/
# https://docs.travis-ci.com/user/multi-os/

# whitelist (branches that should be built)
branches:
  only:
    - master
    - develop
    - /^issue.*$/

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: linux
      dist: trusty
      sudo: required
      env: SWIFT_VERSION=3.0.2
    - os: osx
      osx_image: xcode8.3
      sudo: required

before_install:
  - git clone https://github.com/IBM-Swift/Package-Builder.git
  - test -n "$SWIFT_VERSION" && echo "$SWIFT_VERSION" > .swift-version || echo "SWIFT_VERSION not set, using $(cat .swift-version)"

script:
  - ./Package-Builder/build-package.sh -projectDir $TRAVIS_BUILD_DIR
